<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>44469235671-bf69ia2ig9176ah3gimjvsuq2hp8njp0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.44469235671-bf69ia2ig9176ah3gimjvsuq2hp8njp0</string>
	<key>API_KEY</key>
	<string>AIzaSyAYsuODE2K-Q8xnLmxFVP6EDeySA2ZsUUE</string>
	<key>GCM_SENDER_ID</key>
	<string>44469235671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shoesInventory</string>
	<key>PROJECT_ID</key>
	<string>shoes-96476</string>
	<key>STORAGE_BUCKET</key>
	<string>shoes-96476.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:44469235671:ios:e762a3ccd53ce8f0952592</string>
</dict>
</plist>